@import '~sass/variables';
@import '~sass/mixins';
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  &__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 90%;
  }
  /* The Close Button */
  &__content__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &__content__frame {
    height: 100%;
    width: 100%;
  }
  &__content__frame__image {
    max-width: 100%;
    max-height: 100%;
  }
  /* Information starts */
  &__content__info {
    font-size: .8rem;
    color: black;
    letter-spacing: .03rem;
  }
  @include atLarge {
    &__content {
      max-width: 40%;
    }
  }
}
