@import '~sass/variables';
@import '~sass/mixins';

.list-items {
    top: 145px;
    position: relative;
    width: 90%;
    margin: 0 auto;

&__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
}

    @include atSmall {
        top: 100px;
        width: 70%;
    }

    @include atMedium {
        width: 90%;
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 35px;
        }
        
    }

    @include atLarge {
        width: 90%;
        &__container{
            grid-template-columns: repeat(5, 1fr);
        }
        
        
    }

    &-details {
        top: 145px;
        position: relative;
        width: 90%;
        margin: 0 auto;
    
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-row-gap: 50px;
    }

        @include atSmall {
            top: 100px;
            width: 85%;
            &__container {
                grid-gap: 35px;
            }
        }
    
        @include atMedium {
            width: 90%;
            &__container {
                grid-gap: 35px;
            }
            
        }
    
        @include atLarge {
            width: 90%;
            &__container{
            }
            
            
        }

    }
}



