@import '~sass/variables';
@import '~sass/mixins';

.list-item__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    top: 120px;
    position: relative;
    width: 90%;
    margin: 0 auto;

    @include atSmall {
        width: 70%;
    }

    @include atMedium {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        grid-template-rows: 400px 500px auto;
    }

    @include atLarge {
        width: 90%;
        grid-template-columns: repeat(5, 1fr);
        
    }
}



