<gt-list-filter></gt-list-filter>

<div [ngClass]="{'list-items': !isPreviewDetailsOn, 'list-items-details': isPreviewDetailsOn}">
  <p *ngIf = "retrievedItems.length !== 0" class="list-items__result-numbers list-items-details__result numbers">{{numberOfResults}} {{currentMediaType}} found.</p>
  <div [ngClass]="{'list-items__container': !isPreviewDetailsOn, 'list-items-details__container': isPreviewDetailsOn}">
    <!-- Loop child component -list-item.component -->
    <gt-list-item *ngFor="let singleItem of retrievedItems" [singleItemDetails]="singleItem" [isPreviewDetailsOnChild]="isPreviewDetailsOn"></gt-list-item>
    <!-- End child component -->
  </div>
</div>