@import '~sass/variables';
@import '~sass/mixins';

.list-items {
    width: 90%;
    margin: 0 auto;

    &__result-numbers {
        font-size: .7rem;
        color: black;
    }

&__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}

    @include atSmall {
        width: 70%;
    }

    @include atMedium {
        width: 90%;
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 35px;
        }
    }

    @include atLarge {
        width: 90%;
        &__container{
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    &-details {
        width: 90%;
        margin: 0 auto;

        &__result-numbers {
            font-size: .7rem;
            color: black;
            }
    
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-row-gap: 30px;
    }

        @include atSmall {
            width: 85%;
            &__container {
                grid-gap: 35px;
            }
        }
    
        @include atMedium {
            width: 90%;
            &__container {
                grid-gap: 35px;
            }
            
        }
    
        @include atLarge {
            width: 90%;
            &__container {
                grid-gap: 25px;
            }

        }

    }
}



