@import '~sass/variables';
@import '~sass/mixins';
.navbar {
  position: relative;
  z-index: 3;
  top: 0;
  height: 50px;
  background: white;
  margin: 0 auto;
  /* mobile logo icon starts */
  &__logo {
    position: absolute;
    left: 1%;
    top: 0;
    height: 50px;
  }
  &__logo__icon {
    max-height: 100%;
    max-width: 100%;
  }
  /* mobile logo icon ends */
  /* home button icon starts*/
  &__button {
    position: absolute;
    top: 0;
    right: 1%;
    height: 50px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    &:hover {
      opacity: .7;
    }
  
  }
  &__button__icon {
    max-height: 100%;
  }
  /* home button icon ends */
  
  /* at root level; continue with navbar */
  @include atSmall {
  &__logo {
    position: absolute;
    left: 5%;
    top: 0;
    height: 50px;
  }
  &__button {
    right: 5%;
    box-sizing: border-box;
    padding: 10px;
  }

  }
}
/* Navbar ends */