<div class="navbar">
  <div [ngClass]="{'navbar__button': true, 'navbar__button--active': !isActive}" (click)="setClass()">
    <span class="navbar__button--top"></span>
    <span class="navbar__button--middle"></span>
    <span class="navbar__button--bottom"></span>
  </div>

  <div [ngClass]="{'navbar__responsive': true, 'navbar__responsive--open': !isActive}" id="overlay">
    <nav class="navbar__responsive__menu">
      <ul class="navbar__responsive__menu__list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Images</a>
        </li>
        <li>
          <a href="#">Videos</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <gt-modal></gt-modal>
        </li>
      </ul>
    </nav>
  </div>
</div>