// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

$font_saira: 'Saira Semi Condensed', sans-serif;
$font_gray: rgba(0,0,0,0.54);

// NAVBAR
$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #636262;

$button-height: 27px;
$button-width: 35px;