<div class="filterbar">
  <div class="filterbar__searchbar">
    <div class="filterbar__searchbar__sort">
      <!-- Sets the media type of api request -->
      <select class="filterbar__searchbar__sort__select" (click)="setMediaType($event)">
        <option #filterByMedia *ngFor="let option of filterMediaTypeOptions" [selected]="filterByMedia.value === currentMediaTypeOption" [value]="option.value">{{option.name}}</option>
      </select>
    </div>
    <input class="filterbar__searchbar__input" type="text" placeholder="Search..." required [(ngModel)]="currentSearchQuery"
      (keypress)="sendRequest($event, currentMediaTypeOption, currentSearchQuery)">
    <button class="filterbar__searchbar__button" type="submit" (click)="sendRequest($event, currentMediaTypeOption, currentSearchQuery);">
      <span class="filterbar__searchbar__button__icon">&#9906;</span>
    </button>
  </div>
  <div class="filterbar__dropdown">
    <div class="filterbar__dropdown__container">
      <select class="filterbar__dropdown__container__sorting" (change)="sortByRequest($event)">
        <option #sortByOrder *ngFor="let option of sortByOptions" [selected]="sortByOrder.value === currentSortOrder" [value]="option.value">{{option.name}}</option>
      </select>
    </div>
  </div>

</div>