@import '~sass/variables';
@import '~sass/mixins';

.searchbar-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    &__header__title {
        text-align: center;
    }

    /* Category Dropdown Starts */
    &__wrapper__dropdown {
        float:left;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 25%;
        height: 40px;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        position: relative;
        align-self: center;
      }
    
      &__wrapper__dropdown:after {
        position: absolute;
        content: "";
        border-left: 2px solid white;
        border-top: 2px solid white;
        padding: 5px;
        right: 10px;
        top: 20%;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

      &__wrapper__dropdown:active:after {
        right: 8px;
        top: 21%;
      }
    
      &__wrapper__dropdown__selectbar {
        font-size: .7rem;
        font-family: $font_saira;
        color: #fff;
        padding-left: 8px;
        align-self: center;
        text-transform: capitalize;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        background-color: #434A54;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
      }
    
      &__wrapper__dropdown__selectbar:focus {
        // outline-color: black;
        // height: 100%;
      }
      &__wrapper__dropdown__selectbar:hover {
        // cursor: pointer;
        // outline-color: orange;
        // height: 100%;
        
      }

      &__wrapper__dropdown__anchor {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        padding: 5px 50px 5px 10px;
        border: 1px solid #ccc;
      }
      /* Category Dropdown Ends */

    /* Search Box Starts*/
&__wrapper {
    width: 100%;
    height: 40px;
border-radius: 10px;
box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

&__wrapper:after {
    content: "";
display: table;
clear: both;
}

&__wrapper__input {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
padding: 10px 5px;
float: left;
font-size: 1rem;
font-family: $font_saira;
border: 1px solid #ccc;
background: #fff;
}
&__wrapper__input:focus {
outline: 0;
background: #fff;
-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
&__wrapper__input::-webkit-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
&__wrapper__input:-moz-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
&__wrapper__input:-ms-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
&__wrapper__button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 15%;
font: bold 15px/40px 'Raleway', sans-serif;
color: #fff;
text-transform: uppercase;
background: #D8334A;
border-radius: 0 5px 5px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
&__wrapper__button:hover{
background: #BF263C;
}
&__wrapper__button:active,
&__wrapper__button:focus{
background: #c42f2f;
}
&__wrapper__button:before {
content: '';
position: absolute;
border-width: 8px 8px 8px 0;
border-style: solid solid solid none;
border-color: transparent #D8334A transparent;
top: 12px;
left: -6px;
}
&__wrapper__button:hover:before{
border-right-color: #BF263C;
}
&__wrapper__button:focus:before{
border-right-color: #c42f2f;
}
&__wrapper__button::-moz-focus-inner {
border: 0;
padding: 0;
}
&__wrapper__button__icon {
    display: inline-block;
    font-size: 2rem;
    transform: rotate(-45deg);
}
/* Search Box Ends */
}

/*-------------------------------------*/
@include atSmall {
    .searchbar-container__wrapper {
        width: 85%;
        margin: 0 auto;
    }
    .searchbar-container__header {
        width: 80%;
        margin: 0 auto;
    }
}

@include atMedium {
    .searchbar-container__wrapper {
        width: 75%;
    }
    .searchbar-container__header__title__logo {
        max-width: 70%;
    }

    .searchbar-container__header {
        width: 70%;
    }
}

@include atLarge {
    .searchbar-container__wrapper {
        width: 35%;
    }
    .searchbar-container__header {
        width: 50%;
    }
    .searchbar-container__header__title__logo {
        max-width: 60%;
    }
}