<div class="searchbar">
  <h2 class="searchbar__title">Freaky Image</h2>
  <form>
    <input type="text" name="search" placeholder="Search.." class="searchbar__input" [(ngModel)]="requestedSearchQuery">
    <button [routerLink]="['/search', mediaType]" [queryParams]="{query : requestedSearchQuery}">Search</button>
    <div class="searchbar__options">
      <input type="radio" name="radio" id="images" value="images" [checked]="true" (change)= "setRadioButton($event)">
      <label for="images">Images</label>
      <input type="radio" name="radio" id="videos" value="videos" (change)= "setRadioButton($event)">
      <label for="videos">Videos</label>
      <input type="radio" name="radio" id="events" value="events" (change)= "setRadioButton($event)">
      <label for="events">Events</label>
    </div>
  </form>
</div>